
form {
  margin: 50px auto;
}

input {
  margin: 10px;
  /* width: 100%; */
}

.card {
  margin-top: 20px;
}

.card-title, .card-text {
  padding: 20px;
}

.like {
  color: green;
  font-weight: bold;
}

.dislike {
  color: red;
  font-weight: bold;
}

table {
  margin-top: 50px;
}

.badge {
  margin: 5px;
  width: 100%;
}

.badge-in {
  background-color: green;
}

.badge-out {
  background-color: red;
}
